/* You can add global styles to this file, and also import other style files */
:root {
    --1th-color: #02AD21;
    --2th-color: #4DFA6D;
    --3th-color: #02330B;
    --4th-color: #66B074;
    --5th-color: #133B18;
}

body {
    background-color: var(--2th-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 75vw;
}

html {
    display: flex;
    justify-content: center;
}

app-root {
    height: 100%;
    display: flex;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
